body {
  background: #d2d4d6;
  font-family: "Dancing Script", cursive;
}

h1 {
  font-size: 45px;
}

p {
  font-size: 20px;
}

.page-body {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  max-height: 350px;
}
